<div class="HomeContainer">
  <div class="HomeContainer__content">
    <div class="HomeContainer__actions">
      <div class="Register__content">
        <form action="/login" method="POST">
          <div class="form-group">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-envelope"></i></div>
              </div>
              <input type="text" name="email" class="form-control {{#if errors.email}} is-invalid {{/if}}" placeholder="Email" value="{{ user.email }}"/>
              <div class="invalid-feedback">
                {{ errors.email }}
              </div>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-lock"></i></div>
              </div>
              <input type="password" name="password" class="form-control {{#if errors.password}} is-invalid {{/if}}" placeholder="Password" />
              <div class="invalid-feedback">
                {{ errors.password }}
              </div>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
        </form>
        <hr>
        <a href="/authenticate/google" class="btn btn-block btn-danger"><i class="fab fa-google"></i> Login con Google</a>
        <p class="text-center mt-2">¿Aún no estás registrado? <a href="/register">Registro</a></p>
      </div>
    </div>
  </div>
</div>