<div class="Profile">
  <div class="Profile__sidebar">
    <div class="Profile__avatar"></div>
    <div class="Profile__map"></div>
    <div class="Profile__map-button">Añade tus lugares de paseo</div>
  </div>
  <div class="Profile__container">
    <form>
      <input type="text" class="input" name="name" id="name" placeholder="Nombre">
      <select>
        <option value="">Sexo</option>
        <option value="genre">Macho</option>
        <option value="genre">Hembra</option>
      </select>
      <div class="input-radio">
        <input type="radio" id="weight-1" name="weight" checked>
        <label for="weight-1">0kg - 3kg</label>
      </div>
      <div class="input-radio">
        <input type="radio" id="weight-2" name="weight" >
        <label for="weight-2">3kg - 8kg</label>
      </div>
      <div class="input-radio">
        <input type="radio" id="weight-3" name="weight" >
        <label for="weight-3">8kg - 15kg</label>
      </div>
      <div class="input-radio">
        <input type="radio" id="weight-4" name="weight" >
        <label for="weight-4">Más de 15kg</label>
      </div>
      <select>
        <option value="">Raza</option>
        <option value="breed">Mestizo</option>
        <option value="breed">Pastor Alemán</option>
        <option value="breed">San Bernardo</option>
        <option value="breed">Labrador Retriever</option>
        <option value="breed">Golden Retriever</option>
        <option value="breed">Braco de Weimar</option>
        <option value="breed">Border Collie</option>
        <option value="breed">Boxer</option>
        <option value="breed">Schnauzer</option>
        <option value="breed">Bichón Maltés</option>
        <option value="breed">Jack Russell Terrier</option>
      </select>
      <input type="text" placeholder="Edad" value="age" name="age">
      <div class="input-checkbox">
        <input type="checkbox" id="1" class="profile-checkbox" checked>
        <label for="1"></label>
        <span>Ir a pasear</span>
      </div>
      <div class="input-checkbox">
        <input type="checkbox" id="2" class="profile-checkbox">
        <label for="2"></label>
        <span>Ir a pasear</span>
      </div>
      <div class="form-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="avatar" id="avatar">
          <label class="custom-file-label" for="avatar">Choose avatar</label>
        </div>
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
<!--<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-12 col-md-4">
      {{#if session.avatarURL}}
        <div class="text-center mb-2">
          <img src="{{ session.avatarURL }}" class="img-fluid rounded" alt="{{ user.name }}">
        </div>
      {{/if}}
      <form action="/profile" method="POST" enctype="multipart/form-data">
        {{>user/profile user=session errors=errors edit=true}}
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="avatar" id="avatar">
            <label class="custom-file-label" for="avatar">Choose avatar</label>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary btn-block">Edit profile</button>
        </div>
      </form>
    </div>
  </div>
</div>-->