<div class="HomeContainer">
  <div class="HomeContainer__content">
    <div class="HomeContainer__actions">
      <div class="Register__content">
        <form action="/register" method="POST">
          {{>user/profile user=user errors=errors}}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
        </form>
        <hr>
        <p class="text-center">Already registered? <a href="/login">Do login</a></p>
      </div>
    </div>
  </div>
</div>
