{{#if session.email }}
<nav class="Menu">
  <div class="Menu__container">
    <span>¡Hola {{user.name}}!</span>
    <a href="/profile">Edit Profile</a>
    <a href="/users/{{ session.id }}">My Profile</a>
    <a href="/users">Pet Friends</a>
    <a href="/logout">Logout</a>
    
  </div>
</nav>
{{/if}}